<%= form_for Goal.new( :name => 'skin a cat' ) do |f| %>
In 30 days, I wanna <%= f.text_field :name %>
<%= f.submit %>
<% end %>

<h1>Your Goals</h1>

<ul>
<% @commitments.each do |commitment| %>
  <li><%= link_to commitment.goal.name, commitment %> - day <%= commitment.current_day %></li>
<% end %>
</ul>