<div id="new-goal">
	<%= render :partial => 'goals/form' %>
  <div id="goal-tab">
    <a href="#" id="open-tab">Add a New Goal</a>
    <a href="#" id="close-tab">Close</a>
  </div>
</div>

<div id="content">

<div id="main">

	<div id="user">
		<%= image_tag avatar, :class => 'avatar' %>
		<h2>Your Goals</h2>
		<div id="score">
			<div class="ribbon">1</div>
			<h3>Lil' Winner</h3>
			<span class="hint">(just 4 more goals to level up!)</span>
		</div>
	</div>

	<div id="my-commitments">
	<% @commitments.each do |commitment| %>
		<%= link_to commitment do %>
			<i class="icon"></i>
			<%= commitment.goal.name %>
			<span class="hint">(day <%= commitment.current_day %>)</span>
		<% end %>
	<% end %>
	</div>

	<hr />

	<%= image_tag 'no-avatar.png', :class => 'no-avatar' %>
	<%= link_to 'Find Friends', '#', :class => 'btn' %>

</div>

<div id="calendar">
	<%= render :partial => 'calendar', :locals => { :date => @date, :check_ins => @check_ins } %>
</div>

</div>