<%= render :partial => 'goals/tab' %>

<div id="content">

	<h1><i class="icon"></i> <%= @commitment.goal.name %></h1>
	
	<div id="days" data-commitment-id="<%= @commitment.id %>">
		<%= render :collection => @commitment.days, :partial => 'day' %>
		<div id="check-in-form">
			<i class="tip"></i>
			<%= form_for( [ @commitment, CheckIn.new( :checkin_date => @commitment.days.first.date ) ] ) do |f| %>
				<%= f.text_field :note, :placeholder => "What did you do to progress on day #{@commitment.days.first.number}?" %>
				<%= f.hidden_field :checkin_date %>
				<%= f.submit 'Check In', :class => 'btn', :id => 'check-in-button' %>
			<% end %>
		</div>
	</div>

	<div id="social">
		<h2><%= @commitment.days_left %> days left</h2>
	</div>

	<div class="cleared">&nbsp;</div>

</div>