<!DOCTYPE html>
<html>
<head>
  <title>30days.in</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id="header">
  <h1><a href="<%= user_signed_in? ? user_root_path : root_path %>">30<span>days</span>.in</a></h1>
  <div id="right-nav">
  <% if user_signed_in? %>
    Hi, <%= current_user.email %>
    &nbsp;
    <%= link_to 'log out', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'register', new_user_registration_path %>
    |
    <%= link_to 'log in', new_user_session_path %>
  <% end %>
  |
  <a href="#">explore</a>  
  </div>
</div>

<!--
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
-->

<%= yield %>

<div id="footer">
  <a href="#">about us</a>
</div>


</body>
</html>
